<% form_for(@expense) do |f| %>


    <div id="input-description">
      <%= f.label :description, 'Utlägget gjordes för ...' %>
      <br/>
      <%= f.text_field :description %>
    </div>

    <div id="input-event-date">
      <%= f.label :date, 'När?' %>
      <br/>
      <%= f.date_select :date %>
    </div>


    <div>
      Vilka är skyldiga?
      <br/>
      <input type="text"/>
      <input type="button" value="Lägg till listan av skyldiga"/>
    </div>

    <div id="the-guilty-ones">
      <div class="guilty-part">
        <span class="guilty-name">Andreas Höglund</span>
        <input type="text" style="width: 50px; margin-left: 120px; margin-right: 10px;"/>
        X
      </div>

      <div class="guilty-part">
        <span class="guilty-name">Andreas Höglund</span>
        <input type="text" style="width: 50px; margin-left: 120px; margin-right: 10px;"/>
        X
      </div>

      <div class="guilty-part">
        <span class="guilty-name">Andreas Höglund</span>
        <input type="text" style="width: 50px; margin-left: 120px; margin-right: 10px;"/>
        X
      </div>


      <div class="guilty-part">
        <span class="guilty-name">Andreas Höglund</span>
        <input type="text" style="width: 50px; margin-left: 120px; margin-right: 10px;"/>
        X
      </div>

    </div>

<% end %>